<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Peframe</title>
    </head>

    <body>
        <form action="http://localhost/fileUpload" method="post" enctype="multipart/form-data">
            
            <input type="file" name="profile">
            <br>
            <select name="job">
                    <option value="auto">Auto</option>
                    <option value="strings">Strings</option>
                    <option value="json">Json</option>
                    <option value="help">Help</option>
            </select>
            <br>
            <input type="submit">
        </form>
    </body>

</html>